:root {
  --section-color: #f5f4fa;
  --hover-color: #2196f3;
  --main-color: #212121;
  --text-color: #757575;
  --white-color: #ffffff;
  --background-color: #2f303a;
  --semi-transparent-color: rgba(255, 255, 255, 0.6);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-color);

  font-size: 14px;
  letter-spacing: 0.03em;

  background-color: var(--white-color);
}

/* ссылки */

.link {
  text-decoration: none;
}

.homepage-logo {
  font-family: "Raleway", sans-serif;
  color: var(--hover-color);
  font-weight: bold;
  font-size: 26px;
}

.logo-span {
  color: var(--main-color);
}

.link-items {
  letter-spacing: 0.02em;
}

.pagination {
  color: var(--main-color);

  font-size: 14px;
  line-height: 1.1;
}

.current {
  color: var(--hover-color);
}

.pagination:hover,
.pagination:focus {
  color: var(--hover-color);
}

/* списки */

.list {
  list-style: none;
}

/* контакты */

.contacts-header {
  color: var(--text-color);

  font-size: 14px;
  line-height: 1.1;
}

.logo-footer {
  color: var(--white-color);
}

.address {
  color: var(--white-color);

  font-weight: normal;
  font-style: normal;
}

.address-link {
  color: var(--semi-transparent-color);

  font-style: normal;
  font-weight: normal;
}

.address-link:hover,
.address-link:focus {
  color: var(--hover-color);
}

/* кнопки */

.button-filter:hover,
.button-filter:focus {
  background-color: var(--hover-color);
  color: var(--white-color);
}

.btn,
.button-filter {
  background-color: var(--hover-color);

  font-family: "Roboto", sans-serif;
  color: var(--main-color);

  font-weight: bold;
  font-size: 16px;
  line-height: 1.6;

  cursor: pointer;
}

.current-btn {
  background-color: var(--hover-color);
  color: var(--white-color);
}

/* загловки и текст */

.hdr {
  text-transform: uppercase;
}

.heading {
  color: var(--main-color);

  font-size: 36px;
  line-height: 1.2;
}

.team {
  background-color: var(--section-color);
}
.team-header {
  font-size: 16px;
  line-height: 1.2;
}

.team-text {
  color: var(--text-color);

  font-size: 16px;
  line-height: 1.2;
}

.peculiarities-header {
  color: var(--main-color);

  font-size: 14px;
  line-height: 1.1;
}

.peculiarities-text {
  color: var(--text-color);

  font-size: 14px;
  line-height: 1.1;
}

.header-filter {
  color: var(--main-color);

  font-size: 18px;
  line-height: 2;
}

.filter-text {
  color: var(--text-color);

  font-size: 16px;
  line-height: 1.6;
}

/* блоки */

.slider {
  background-color: var(--background-color);
  color: var(--white-color);

  font-size: 44px;
  font-weight: 900;
}

.foot-menu {
  background-color: var(--background-color);

  font-size: 14px;
  line-height: 1.7;
}
